{% extends 'base.html' %}

{% block content %}
<div class="content-block home-background">
  <div class="content-block-text">
    <h1>Національний інститут раку</h1>
  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Новини</h2>
  </div>
  <div class="block-content">

  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Проекти</h2>
  </div>
  <div class="block-content">

  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Про нас</h2>
  </div>
  <div class="block-content">

  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Медіа</h2>
  </div>
  <div class="block-content">

  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Партнери та спонсори</h2>
  </div>
  <div class="block-content">

  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Контакти</h2>
  </div>
  <div class="block-content">

  </div>
</div>
<div class="content-block">
  <div class="block-header">
    <h2>Звіти</h2>
  </div>
  <div class="block-content">

  </div>
</div>
{% endblock content %}
