<div class="block-content">
  <h5>Про фонд</h5>
  <div class="section-title">
    <h3>Про український відкритий медичний фонд</h3>
    <div class="border-title"></div>
  </div>

  <div class="tabs">
    <div class="tabs-header">
      <div class="tab active" id="tab1">
        Що ми робимо
      </div>
      <div class="tab" id="tab2">
        Як ми працюємо
      </div>
      <div class="tab" id="tab3">
        Команда
      </div>
    </div>
    <div class="tabs-body">
      <div class="tab-content active" id="content-tab1">

      </div>
      <div class="tab-content" id="content-tab2">
        <div class="about-tab-left">
          <p>
            Наші завдання - це привернення уваги громадськості до потреб НІРу та
            його пацієнтів. "страхування ризиків" державного фінансування для
            забезпечення сталої та ефективної роботи закладу. Удосконалення роботи
            НIРу через реалізацію окремих проектів. Ми чітко знаємо, що потрібно
            пацієнтам та медичному персоналу, адже працюємо тут щодня беручи участь у житті НІРу.
          </p>
          <p>
            Особливість роботи фонду - абсолютна прозорість діяльності та регулярна звітність,
            повний доступ громадськості до інформації про обіг коштів у фонді.
          </p>
        </div>
        <div class="about-tab-right">
          
        </div>
      </div>
      <div class="tab-content" id="content-tab3">
        tab3 content
      </div>
    </div>
  </div>
</div>
