<div class="header block">
  <div class="header-left">
    <div class="h-top">
      <div class="h-top-content">
        <div class="menu-icon">
          &#09776;
        </div>
        <div class="logo">

        </div>
        <div class="text">

        </div>
        <div class="search">

        </div>
      </div>
    </div>
    <div class="h-bottom">
      <div class="h-bottom-text">
        Фонд опікується потребами <br />хворих на рак,
        зокрема пацієнтів <br /> Національного інституту раку у Києві.
      </div>
    </div>
  </div>
  <div class="header-right">
    <div class="h-block">
      <div class="h-block-text">
        <div>
          наші
        </div>
        <div class="uppercase">
          проекти
        </div>
      </div>
    </div>
    <div class="h-block">
      <div class="h-block-text">
        <div class="uppercase">
          допомогти
        </div>
        <div>
          фонду
        </div>
      </div>
    </div>
  </div>
</div>
