{% load static %}

<div class="block-content">
  <h5>Новини</h5>
  <div class="section-title">
    <div class="text-section">
      <h3>Останні новини</h3>
      <div class="border-title"></div>
    </div>
    <div class="radio-section">
      <div class="radio-item">
        <input type="radio" name="name" value="">
        <span for="">Останні новини</span>
      </div>
      <div class="radio-item">
        <input type="radio" name="name" value="">
        <span for="">Рекомендовані</span>
      </div>
      <div class="radio-item">
        <input type="radio" name="name" value="">
        <span for="">Анонси</span>
      </div>
    </div>
  </div>
  <div class="section-body">
    <div class="news-section active" id="last-news">
      {% for entry in last_news %}
        <div class="entry">
          <span class="entry-date">{{ entry.created | date:"d.m.y" }}</span>
          <img src="{{ entry.main_image.url }}" alt=""/>
        </div>
      {% endfor %}
    </div>
    <div class="news-section" id="recomended-news">
      {% for entry in recomended_news %}
        <div class="entry">
          <span class="entry-date">{{ entry.created | date:"d.m.y" }}</span>
          <img src="{{ entry.main_image.url }}" alt=""/>
        </div>
      {% endfor %}
    </div>
    <div class="news-section" id="anounced-news">
      {% for entry in anounsed_news %}
        <div class="entry">
          <span class="entry-date">{{ entry.created | date:"d.m.y" }}</span>
          <img src="{{ entry.main_image.url }}" alt=""/>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
