* {
  margin: 0;
  padding: 0;
}

html, body, .main {
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  height: 100%;
}

h3 {
  paddind 0;
  margin: 0;
}

.section-title {
  margin-bottom: 20pt;
  padding-bottom: 10pt;
}

.section-title .text-section {
  float: left;
  width: 85%;
  display: inline-block;
}

input[type="radio"] {
  color: #ccc;
  line-height: 11pt;
  height: 11pt;
  margin: 1pt;
}

input[type="radio"]::selection {
  color: red;
}

.radio-section {
  display: inline-block;
  float: right;
  width: 15%;
  font-size: 10pt;
  line-height: 10pt;
}

.radio-section .radio-item {
  margin: 0;
  padding: 0;
}

.radio-section span {
  line-height: 10pt;
}

.section-title h3 {
  font-size: 17pt;
  padding: 5pt 10pt;
  line-height: 20pt;
}

h5 {
  color: rgb(193, 46, 62);
  font-size: 13pt;
  font-weight: 400;
  padding: 5pt 10pt;
  margin-bottom: 0;
  line-height: 13pt;
}

.border-title {
  height: 2pt;
  background: #999;
  width: 60pt;
  margin: 0 10pt;
}

.header-left {
  width: 85%;
  float: left;
  height: 100%;
  background: url(../img/home-photo.jpg) no-repeat scroll;
  background-position: center;
  background-size: cover;
}

.header-left .h-top {
  background: rgb(219, 219, 219);
  height: 22%;
  opacity: 0.8;
}

.h-top .h-top-content {
  width: 70%;
  padding-top: 10pt;
  float: right;
  margin: 0 auto;
  margin-right: 100pt;
  z-index: 500;
  color: #666;
}

.h-top .menu-icon {
  font-size: 40pt;
  line-height: 40pt;
  color: rgb(205, 63, 87);
  cursor: pointer;
}

.header-left .h-bottom {
  height: 78%;
  vertical-align: bottom;
}

.h-bottom .h-bottom-text {
  text-align: right;
  width: 60%;
  float: right;
  padding-top: 30%;
  padding-right: 100pt;
  color: #fff;
  font-size: 20pt;
}

.header-right {
  width: 15%;
  float: right;
  height: 100%;
}

.header-right .h-block {
  height: 50%;
  background: linear-gradient(to bottom, rgb(205, 63, 87), rgb(193, 46, 62));
  vertical-align: middle;
}

.h-block .h-block-text {
  color: #fff;
  padding-top: 65%;
  vertical-align: middle;
  text-align: center;
}

.block {
  /*height: 100%;*/
}

.grey-block {
  background: rgb(219, 219, 219);
}

.block-content {
  width: 900px;
  margin: 0 auto;
}

.tabs .tabs-header {

}

.tabs-header .tab {
  display: inline-block;
  width: 30%;
  text-align: center;
  border-bottom: 2px solid #999;
  padding: 5pt 11pt;
  cursor: pointer;
  margin: 0;
  float: left;
}

.tabs-header .tab.active {
  color: rgb(193, 46, 62);
  border-bottom: 2px solid rgb(193, 46, 62);
  z-index: 500;
  position: relative;
}

.tabs-body {
  padding: 15pt 0;
  padding-top: 20pt;
  min-height: 140pt;
}

.tabs-body .tab-content {
  display: none;
  padding: 0;
}

.tabs-body .tab-content.active {
  display: block;
  padding-top: 20pt;
  font-size: 11pt;
  line-height: 13pt;
}

.about-tab-left {
  width: 70%;
  float: left;
}

.news-content {
  background: rgb(219, 219, 219);
}

.partners-header {
  height: 80px;
  background: #ccc;
  color: #fff;
}

.partners-header .p-header-left {
  width: 50%;
  display: inline-block;
  float: left;
  background: rgb(193, 46, 62);
  height: 80px;
  line-height: 80px;
  font-size: 30px;
}

.partners-header .p-header-right {
  background: rgb(219, 219, 219);
  height: 80px;
}

.p-header-text {
  padding: 0 40pt;
  text-align: right;
}

.section-body {
  padding: 10pt;
}

.entry {
  display: inline-block;
  width: 201pt;
  height: 130pt;
  border: 5px solid #fff;
  margin-right: 10pt;
}

.entry:last-child {
  margin-right: 0;
}

.entry img {
  width: 201pt;
  height: 130pt;
}

.entry-date {
  float: right;
  position: relative;
  margin-bottom: -20pt;
  margin-right: 7pt;
  color: #fff;
}

.news-section {
  display: none;
}

.news-section.active {
  display: block;
}
