/* Layout */

html, body, .main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.content-block {
  min-height: 300pt;
}

.center-text {
  vertical-align: middle;
}

.content-block .content-block-text {
  text-align: center;
  position: relative;
  top: 200pt;
  color: #3777d6;
}

.grey {
  background: #ccc;
}

.footer {
  background: #3777d6;
}

/* end layout */


/* Menu */

.menu {
  position: fixed;
  right: 0;
  top: 0;
  background: #3777d6;
  z-index: 500;
  min-width: 30%;
  height: 100%;
  display: none;
}

.footer-menu {
  padding: 20pt 0;
}

.footer-menu>ul>li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.footer-menu ul>li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20pt;
}

.menu ul {
  padding: 20pt 10pt;
}

.menu ul>li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.menu ul>li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20pt;
}

.menu ul li a:hover {
  color: lightgreen;
}

.menu .menu-title {
  height: 30pt;
}

.menu .menu-title .close {
  float: right;
  padding: 0 20pt;
  font-size: 30pt;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
}

.menu-open {
  position: fixed;
  right: 20pt;
  top: 20pt;
  background: #3777d6;
  padding: 0 10pt;
  font-size: 22pt;
  text-align: center;
  cursor: pointer;
  color: white;
}

/* End menu */


/* Search */

.search {
  position: fixed;
  left: 20pt;
  top: 20pt;
  height: 20pt;
  z-index: 500;
  display: flex;
}

.search .search-icon {
  width: 20pt;
  height: 40pt;
  background: #3777d6;
  color: white;
  text-align: center;
  padding: 0 10pt;
  font-size: 24pt;
}

.search .search-icon-text {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  display: block;
  color: #ffffff;
  cursor: pointer;
}

.search .search-input {
  display: none;

  transition: width 1s ease-out 0.5s;
  -moz-transition: width 1s ease-out 0.5s;
  -webkit-transition: width 1s ease-out 0.5s;
  -o-transition: width 1s ease-out 0.5s;
  -ms-transition: width 1s ease-out 0.5s;
}

.search .search-input input {
  border: none;
  width: 217pt;
  padding: 20pt 10pt;
  border-radius: 0;
}

/* End search */

/* Common */

.block-header {
  background: #159c2e;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20pt 0;
  text-align: center;
}

.block-header h2 {
  margin: 0;
  color: #ffffff;
}

.block-content {
  margin: 20pt;
}

.list-block {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-wrap: wrap;
  -flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  justify-content: flex-start;
  align-items: stretch;
}

.list-block .entry-item {
  display: flex;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  flex: 1 auto;
  text-align: center;
}

.all-link {
  margin: 20pt 0;
  text-align: center;
}

.all-link a {
  color: #fff;
  background: #3777d6;
  padding: 20pt;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 20pt;
  display: inline-block;
}

.detail-content-block {
  margin: 0 50pt;
}

.detail-content-block .content {
  /*text-align: center;*/
  line-height: 2;
  margin-bottom: 40pt;
  font-size: 17pt;
}

/* End common */


/* Home page */

.home-background {
  background: url(/static/img/DSC_1754.JPG);
  background-size: cover;
  height: 100%;
}

.home-background h1 {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  line-height: 100%;
}

/* end home page */

/* News page */
.news-content-header {
  background: #581bb4;
}

.news-background {
  background: url(/static/img/DSC_1754.JPG);
  background-size: cover;
}

.news-background h1 {
  text-align: center;
  padding-top: 100pt;
  color: lightgreen;
}

/* end news page */

/* partners page */

.partners-content-header {
    background: #b4501b;
}
/* end partnres page */

@media (max-width: 480px) {
  .menu {
    width: 100%;
  }

  .search .search-input input {
    width: 220pt;
  }
}
